.example-entry{
    .create-form{
      padding: 15px;
      background-color: $secondary-color;
      padding-bottom: 50px;
    }
    .confirm-form{
      background-color: $secondary-color;
    }
   
    padding: 0 !important;
    .col{
      padding: 0 !important;
    }
  
  
    .form-div{
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: solid 1px white;
      padding-top: 10px;
      label{
        width: 110px;
        padding-right: 10px;
        margin: 0;
        white-space: nowrap;
        font-size: 18px;
        color: $primary-color;
        font-weight: 700;
      }
      .guarantee-area{
        width: 100%;
        .guarantee-form-div{
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          .label-area{
            width: 150px;
            padding-right: 10px;
            margin: 0;
            white-space: nowrap;
            font-size: 18px;
            color: #000000;
            font-weight: 500;
          }
          select{
            border: none;
            font-size: 18px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
            width: 75%;
            padding: 10px;
            border-radius: 10px;
            height: 45px;
          }
  
        }
      }
      select{
        border: none;
        font-size: 18px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        height: 45px;
      }
      select:focus {
        outline: none !important;
      }
      .multiselect__tags{
        border: none;
        font-size: 18px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
        padding: 10px;
        border-radius: 10px;
        min-height: 45px;
      }
      input{
        border: none;
        font-size: 18px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        height: 45px;
      }
      input:focus {
        outline: none !important;
      }
      textarea{
        border: none;
        font-size: 18px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        resize: none;
      }
      textarea:focus {
        outline: none !important;
      }
      button{
        border: none;
        font-size: 18px;
        font-weight: 700;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        height: 45px;
        background-color: white;
        white-space: nowrap;
  
      }
      button:focus {
        outline: none !important;
      }
      .description{
        color: #908c8c;
        font-weight: 500;
      }   
    }
    .guarantee-div{
      align-items: unset;
  
    }
    .picture-label{
      margin-bottom: 0;
      padding-bottom: 0px;
      border-bottom: none;
      padding-top: 10px;
    }
    .picture-area{
      margin-top: 10px;
    }
  
    .button-div{
      text-align: center;
    }
    .btn-confirm-edit{
      width: 40%;
      min-width: 270px;
      display: block;
      margin:auto;
      border-radius: 3px;
      margin-bottom: 10px;
      background-image: linear-gradient(#058cd6,#5eb6e6);
      border:none;
      border-bottom: solid 4px #058cd6;
      padding: 8px 50px;
      color: white;
      font-size: 21px;
      font-weight: 700;
    }  
    .btn-confirm-edit:hover{
      
      padding: 9px 50px 7px 50px;
      background-image: none;
      background-color: #058cd6;
      box-shadow: inset 0px 0px 10px #0038a3;
    }
  }